<div class="container-fluid navbar-fixed-bottom footer">
    <div class="text-center">
        <span><a href="/">EasyOperation</a> </span>
        <span style="display: inline-block;padding: 0 5px;"> · </span>
        <span><a href="https://github.com/zihang5127/easy-operation/issues" target="_blank">Feekback</a> </span>
        <span style="display: inline-block;padding: 0 5px;"> · </span>
        <span><a href="https://github.com/zihang5127/easy-operation" target="_blank">GitHub</a> </span>

    </div>
</div>
<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/codemirror/lib/codemirror.js" type="text/javascript"></script>
<script src="/static/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
<script src="/static/js/shell.js" type="text/javascript"></script>
<script src="/static/js/global.js" type="text/javascript"></script>