<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/css/global.css">
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.form.js" type="text/javascript"></script>


<!--begin code mirror -->
<!--下面两个是使用Code Mirror必须引入的-->
<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css"/>
<script src="/static/codemirror/lib/codemirror.js"></script>
<!--Java代码高亮必须引入-->
<script src="/static/codemirror/mode/shell/shell.js"></script>
<!--引入css文件，用以支持主题-->
<link rel="stylesheet" href="/static/codemirror/theme/dracula.css"/>

<!--支持代码折叠-->
<link rel="stylesheet" href="/static/codemirror/addon/fold/foldgutter.css"/>
<script src="/static/codemirror/addon/fold/foldcode.js"></script>
<script src="/static/codemirror/addon/fold/foldgutter.js"></script>
<script src="/static/codemirror/addon/fold/brace-fold.js"></script>
<script src="/static/codemirror/addon/fold/comment-fold.js"></script>
<!--括号匹配-->
<script src="/static/codemirror/addon/edit/matchbrackets.js"></script>
<!--end Code Mirror -->